{
	admin off
	auto_https disable_redirects
	servers {
		protocols h1 h2 h3
	}
}

localhost:8443 {
	bind 0.0.0.0
	tls internal

	header /plaintext Content-Type "text/plain"
	respond /plaintext "Hello, World!" 200

	header /json Content-Type "application/json"
	respond /json "{\"message\":\"Hello, World!\"}" 200
}
